MONGODB_URI=mongodb://pikkisolomon05_db_user:SfjYYXq02uFa8eFh@ac-wrfki1v-shard-00-00.oswyheq.mongodb.net:27017,ac-wrfki1v-shard-00-01.oswyheq.mongodb.net:27017,ac-wrfki1v-shard-00-02.oswyheq.mongodb.net:27017/?ssl=true&replicaSet=atlas-7houuk-shard-0&authSource=admin&appName=Cluster0
# Use the standard mongodb:// connection string from Atlas as a fallback if SRV DNS is blocked.
MONGODB_URI_DIRECT=
PORT=10000
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
ADMIN_NAME=admin
ADMIN_PASSWORD=admin@12
ADMIN_TOKEN=Ad123TFI05
